{% extends 'base.html' %}
{% block content %}
<h1>Наши посетители</h1>
    {% for visitor in visitors %}
<p>Имя: {{ visitor.name }}</p>
<p>Город: {{ visitor.city }}</p>
<p>Время посещения: {{ visitor.timestamp }}</p><br><br><br>
    {% endfor%}
{% endblock %}